<%= render partial: "layouts/nav" %>

<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign Up</h1>

    <form class="" action="<%= users_url %>" method="post">
      <% @button = "Sign Up" %>
      <%= render partial: "layouts/form" %>
    </form>
    or
    <%= render partial: "layouts/guest" %>
  </div>
</div>
