/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #ACAEB7;
  height: 1200px;
  padding-top: 70px;
}

.current-money {
  color: white;
  height: 40px;
  font-weight: bold;
  text-indent: 10px;
  font-size: 30px;
}

.current-gold-bar {
  max-height: 30px;
  vertical-align: middle;
}

.task-block {
  // width: 900px;
}

.task-type-name {
  background: #090940;
  color: white;
  text-align: center;
  text-indent: 10px;
  outline: thin solid black;
}

.task-box {
  background: #090940;
  outline: thin solid black;
  height: 400px;
  overflow-y: auto;
}

.task-item {
  height: 50px;
}

button[disabled], button[disabled]:hover {
  background: #cccccc;
  text-shadow: 0px 1px 0px white;
  color: #E5E5E5;
}

.task-item-description-button {
  background: #FFEC44;
  height: 50px;
  padding: 0px;
  padding-top: 1px;
  border: 0px;
  outline: 1px solid black;
  cursor: pointer;
}

.task-item-description-button:hover {
  background-color: #FF9E44;
}

.task-item-description-button:active {
  background-color: #CC8B4F;
}

.task-item-description {
  height: inherit;
}

.task-reward {
  padding: 0px;
}

.task-description {
  padding-left: 0px;
  text-align: left;
}

.delete-task-button {
  background: #C50000;
  color: white;
  outline: 1px solid black;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.delete-task-button:before {
    content: "×";
}

.delete-task-button:active {
  background: #AD0000;
}

#newTaskForm {
  background: #F1B148;
  color: black;
  text-align: center;
  text-indent: 0px;
  outline: thin solid black;
  padding-bottom: 10px;
}

#task-text-box {
  width: 100px;
}

.task-form-text {
  position: relative;
}

#moneyRewardForm {
  text-align: center;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

.gold-bar {
  height: 25px;
  max-height: 18px;
}

input.qtyplus { width: 25px; height: 25px;}
input.qtyminus { width: 25px; height: 25px;}

@-moz-keyframes heartbeat-loader {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes heartbeat-loader {
  0% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat-loader {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.heartbeat-loader:not(:required) {
  -moz-animation: heartbeat-loader 1300ms ease 0s infinite normal;
  -webkit-animation: heartbeat-loader 1300ms ease 0s infinite normal;
  animation: heartbeat-loader 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.heartbeat-loader:not(:required):after, .heartbeat-loader:not(:required):before {
  position: absolute;
  content: "";
  background: #e87;
}
.heartbeat-loader:not(:required):before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.heartbeat-loader:not(:required):after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}
