/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.task-type {
  float: left;
  width: 200px;
  height: 40px;
  margin: auto;
  font-size: 16px;
  text-indent: 10px;
  line-height: 40px;
  outline: thin solid black;
}

ul {
  list-style: none;
}

.task-box {
  margin: inherit;
  padding: inherit;
  outline: thin solid black;
  height: 400px;
  overflow-y: auto;
}

.task-item {
  width: inherit;
  height: 45px;
  line-height: 45px;
  outline: inherit;
  list-style: none;
  cursor: pointer;
}

.task-item:hover {
  background-color: #80ffff
}

.task-title {
  float: left;
}

.task-reward {
  float: right;
}

#newTaskForm {
  text-align: center;
  text-indent: 0px;
  width: inherit;
  outline: thin solid black;
  /*border-top: 1px solid black;*/
  /*margin-top: 1px;*/
}

#task-text-box {
  width: 100px;
}

.task-form-text {
  position: relative;
}

#moneyRewardForm {
  text-align: center;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}
input.qtyplus { width: 25px; height: 25px;}
input.qtyminus { width: 25px; height: 25px;}
