/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #ACAEB7;
  min-width: 800px;
  height: 1100px;
}

.current-money {
  background: #ACAEB7;
  color: white;
  width: 800px;
  height: 40px;
  font-weight: bold;
  text-indent: 10px;
  font-size: 30px;
}

.current-gold-bar {
  max-height: 30px;
  vertical-align: middle;
}

.task-type {
  background: #090940;
  color: white;
  float: left;
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 16px;
  text-indent: 10px;
  outline: thin solid black;
}

ul {
  list-style: none;
}

.task-box {
  background: #090940;
  margin: inherit;
  padding: inherit;
  outline: thin solid black;
  height: 400px;
  overflow-y: auto;
}

.task-item {
  float: left;
  background: #FFEC44;
  font-size: 14px;
  width: 170px;
  height: 45px;
  padding: 0px;
  border: 0px;
  outline: 1px solid black;
  cursor: pointer;
  display: table;
}

.task-item:hover {
  background-color: #FF9E44;
}

.task-item:active {
  background-color: #CC8B4F;
}

.task-reward {
  display: table-cell;
  width: 50px;
  height: inherit;
  vertical-align: middle;
  text-indent: 5px;
}

.task-description {
  width: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  text-indent: 0px;
}

.delete-task-button {
  float: left;
  background: #C50000;
  width: 30px;
  height: 45px;
  color: white;
  outline: 1px solid black;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  text-indent: 0px;
}

.delete-task-button:before {
    content: "×";
}

.delete-task-button:active {
  background: #AD0000;
}

#newTaskForm {
  background: #F1B148;
  color: black;
  text-align: center;
  text-indent: 0px;
  width: inherit;
  outline: thin solid black;
  padding-bottom: 10px;
  /*border-top: 1px solid black;*/
  /*margin-top: 1px;*/
}

#task-text-box {
  width: 100px;
}

.task-form-text {
  position: relative;
}

#moneyRewardForm {
  text-align: center;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

.gold-bar {
  height: 25px;
  vertical-align: middle;
  max-height: 18px;
}

input.qtyplus { width: 25px; height: 25px;}
input.qtyminus { width: 25px; height: 25px;}
