<%= auth_token_input %>
<div class="form-group">
  <label>Username</label>
  <input type="text" class="form-control" name="user[username]" value="<%= @user.username %>">
</div>

<div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control" name="user[password]">
</div>

<input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="<%= @button %>">

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="heartbeat-loader">Loading…</div>
    <br/><br/>
    <span>Your profile is being setup...</span>
  </div>
</div>
